.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem 0;
}
.social-icons__icon {
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.social-icons__icon--twitter {
  background-image: url("/icons/twitter.svg");
}
.social-icons__icon--github {
  background-image: url("/icons/github.svg");
  margin: 0 2rem;
}
