<style>
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem 0;
}
.social-icons__icon {
  width: 2.2rem;
  height: 2.2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.social-icons__icon--twitter {
  background-image: url("/icons/twitter_white.svg");
}
.social-icons__icon--github {
  background-image: url("/icons/github_white.svg");
  margin: 0 2rem;
}
</style>
<div class="social-icons">
  <a class="social-icons__icon social-icons__icon--twitter" href="https://twitter.com/ruydg"></a>
  <a class="social-icons__icon social-icons__icon--github" href="https://github.com/rodogi"></a>
</div>
